body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background-image: url('./../../../assets/images/backgroud-image.webp');
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}
.activeinterface , .activeinterface:hover
{
  background-color: #666;
  color: white;
}
.listofproduct
{
  margin-top: 400px;
}
body::before {
  content: '';
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: inherit;
  background-size: cover;
  background-position: top center;
  backdrop-filter: blur(10px);
  z-index: -1;
}

.retro-groovy {
  font-family: 'Pacifico', cursive;
  font-size: 16px;
  color: rgb(210,95,32);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  letter-spacing: 2px;
  display: inline-block;
  vertical-align: middle;
}

.retro-groovy:hover {
  color: #E91E63;
  text-shadow: 3px 3px 0px rgba(255, 255, 255, 0.5);
}

@media screen and (max-width: 768px) {
  #site-name {
      font-size: 36px;
  }
}
.custom-card-margin {
  margin-top: 60px; /* Increased top margin for cards */
}

.site-name::before {
  content: '';
  display: block;
  width: 50%;
  height: 5px;
  background-color: rgb(212, 175, 55);
  margin-bottom: 10px;
}

#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  background-color: rgb(240, 235, 220);
  transition: all 0.3s ease-in-out;
  z-index: 1050;
  color: rgb(90, 60, 50);
  overflow-y: auto;
}

#hover-trigger:hover + #sidebar,
#sidebar:hover,
.sidebar-active {
  left: 0;
}

#hover-trigger {
  position: fixed;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1055;
  transition: all 0.3s ease-in-out;
}

.sidebar-logo {
  display: inline-block;
  max-width: 35%;
  vertical-align: middle;
  margin-right: 10px;
  margin-left: 60px;
}

.text-only {
  background: none;
  border: none;
  padding-left: 0;
  color: rgb(90, 60, 50);
  transition: all 0.3s ease-in-out;
}

.sidebar-icon {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
  display: block;
  margin: auto;
}

.list-group-item:hover .sidebar-icon {
  transform: scale(1.1);
}

.list-group-item:hover span {
  margin-top: 10px;
}

.list-group-item {
  text-align: center;
}

.list-group-item span {
  display: block;
  margin-top: 10px;
}

.profile-container {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.balance-container {
  position: fixed;
  top: 20px;
  right: 20%;
  display: flex;
  align-items: center;
  font-weight: bold;
  background-color: rgb(148,56,15);
  padding: 10px;
  color: bisque;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.balancespan {
  font-size: 25px;
  color: black;
}

.profile-image {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.profile-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-name {
  font-weight: bold;
  font-size: 14px;
}

.profile-email {
  font-size: 12px;
  color: #888;
}

.add-button {
  position: fixed;
  top: 11%;
  right: 27%;
  display: inline-block; /* Align the tooltip next to the button */
}

.add-button button {
  background-color: rgb(148, 56, 15);
  color: bisque;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.2s ease-in-out;
}

.add-button button:hover {
  background-color: #E91E63;
  color: white;
}

.add-button .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  right: 100%;
  top: 50%;
  left: auto;
  transform: translateY(-50%);
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s;
}

.add-button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}



//eqfqf


.withdraw-button {
  position: fixed;
  top: 11%;
  right: 20%;
  display: inline-block; 
  z-index: -1;
}

.withdraw-button button {
  background-color: rgb(148, 56, 15);
  color: bisque;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

.withdraw-button button:hover {
  background-color: #E91E63;
  color: white;
  z-index: 1;
}

.withdraw-button .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 100%; /* Position to the right of the button */
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap; /* Ensure the text does not wrap */
  opacity: 0;
  transition: opacity 0.3s;
}

.withdraw-button:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
/* Transparent Card Styling */
.transparent-card {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
}


// .button {
//   cursor: pointer;
//   text-align: center;
//   padding: 10px 20px;
//   border-radius: 20px;
//   font-size: 16px;
//   font-weight: bold;
//   transition: all 0.3s ease;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
// }

// .button:hover {
//   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
// }



.auction-title {
  font-size: 28px;
  /* Slightly larger font */
  font-weight: bold;
  color: #333;
  /* Darker color for better contrast */
}

.auction-info {
  font-size: 16px;
  /* Adjusted font size for readability */
  margin-top: 15px;
  /* Darker gray for better readability */
}




.auction-image {
  max-width: 100%;
  height: auto;
}

/* Carousel styles */
.carousel-inner img {
  width: 100%;
  height: auto;
}

.custom-indicators img {

  height: auto;
  cursor: pointer;
  margin: 0 5px;
  border: 3px solid transparent;

  &.active {
    border-color: #007bff;
  }

  &:hover {
    border-color: #0056b3;
  }
}

.contpo {
  top: 20%;
  background-color: #28a745;
}