<!DOCTYPE html>
<html>
<head>
  <title>Register User</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<!-- 


<div class="container mt-5">
  <button type="button" class="btn btn-secondary btn-sm" (click)="loginpage()">Login </button>
  <h2>Register User</h2>

  <form (ngSubmit)="registerUser()" #userForm="ngForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" [(ngModel)]="user.username" name="username" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputEmail">Email</label>
        <input type="email" class="form-control" id="inputEmail" [(ngModel)]="user.email" name="email" required>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPhone">Phone</label>
      <input type="tel" class="form-control" id="inputPhone" [(ngModel)]="user.phone" name="phone">
    </div>
    <div class="form-group">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" [(ngModel)]="user.address" name="address">
    </div>
    <div class="form-group">
      <label for="inputAddress">Picture:</label>
      <input input type="file" class="form-control" name="file" accept=".jpg, .jpeg, .png" (change)="onFileSelected($event)">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" [(ngModel)]="user.password" name="password" required>
      </div>
      <div class="form-group col-md-6">
        <label for="inputPasswordConfirmation">Confirm Password</label>
        <input type="password" class="form-control" id="inputPasswordConfirmation" [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation" required>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Register"/>
  </form>

</div> -->



<div class="tip"></div>
<div class="cont" [ngClass]="{'s--signup': isSignUp}">
  <div class="form sign-in">
    <h2>Welcome back,</h2>

    <!-- Sign In Form -->
    <form (ngSubmit)="login()">
      <div>
        <label>
          <span>Email</span>
          <input type="email" id="form2Example1"   [(ngModel)]="user.email" name="email"/>
        </label>
        <label>
          <span>Password</span>
          <input type="password" id="form2Example2"  [(ngModel)]="user.password" name="password"/>
        </label>
        <!-- <p class="forgot-pass">Forgot password?</p> -->
        <button type="submit" class="submit" value="Sign Up">SIGN IN</button>
      </div>
    </form>

    <!-- <button type="submit" class="fb-btn">Connect with <span>facebook</span></button> -->
  </div>

  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>New here?</h2>
        <p>Sign up and discover great artisana!</p>
      </div>
      <div class="img__text m--in">
        <h2>One of us?</h2>
        <p>If you already have an account, just sign in. We've missed you!</p>
      </div>
      <button role="button" class="img__btn" (click)="toggleSignUp()">
        <span class="m--up">Sign Up</span>
        <span class="m--in">Sign In</span>
      </button>
    </div>

    <div class="form sign-up">
      <h2>Time to feel like home,</h2>

      <!-- Sign Up Form -->
      <form (ngSubmit)="registerUser()" #userForm="ngForm">
        <div>
          <label>
            <span>Name</span>
            <input type="text" type="text" id="username" [(ngModel)]="user.username" name="username" required/>
          </label>
          <label>
            <span>Email</span>
            <input type="email" id="inputEmail" [(ngModel)]="user.email" name="email" required />
          </label>
          <label>
            <span>Address</span>
            <input type="text" id="inputAddress" [(ngModel)]="user.address" name="address"/>
          </label>
          <label>
            <span>Phone</span>
            <input type="tel" id="inputPhone" [(ngModel)]="user.phone" name="phone"/>
          </label>
          <label>
            <span>Pictures</span>
            <input input type="file" class="form-control" name="file" accept=".jpg, .jpeg, .png" (change)="onFileSelected($event)"/>
          </label>
          <label>
            <span>Password</span>
            <input type="password" class="form-control" id="inputPassword" [(ngModel)]="user.password" name="password" required />
          </label>
          <label>
            <span>Confirm Password</span>
            <input type="password" class="form-control" id="inputPasswordConfirmation" [(ngModel)]="user.passwordConfirmation" name="passwordConfirmation" required/>
          </label>
          <button type="submit" class="submit" value="Sign Up">SIGN UP</button>
        </div>
      </form>

      <!-- <button type="submit" class="fb-btn">Join with <span>facebook</span></button> -->
    </div>
  </div>
</div>









<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
